# ===== Node.js =====
node_modules/
npm-debug.log*

# ===== Variáveis de ambiente =====
.env

# ===== SQLite =====
*.sqlite
*.sqlite3
*.db

# ===== Expo / React Native =====
.expo/
.expo-shared/
dist/
web-build/

# ===== Editor =====
.vscode/
.idea/

# ===== Sistema operacional =====
.DS_Store
Thumbs.db
